body {
    font-family: sans-serif;
}
header{
    background-color: aqua;
    padding: 25px;
    font-size: 30px;
    margin-bottom: 15px;
}
header a{
    text-decoration: none;
    background-color: pink;
    padding: 16px;
    color: black;
    border-radius: 10px;
}

nav a{
    font-size: 15px;
    margin-left: 17px;
}
h1{
    text-align: center;
    font-size: 55px;
    color: mediumaquamarine;
}
p{
    margin-left: 19px;
}
footer{
    background-color: mediumaquamarine;
    padding: 25px;
    font-size: 30px;
    margin-bottom: 15px;
}


